.order-infor form{
	width:70%;margin-left:auto;margin-right:auto;
	margin-top:1.6vh;border:1px solid #3fd5d6;
	background-color:#ffffff;display: flex;
	display: -webkit-flex;height:4.8vh;
	align-items: center;-webkit-align-items:center;
	box-sizing: border-box;padding:0 3.2vw;
}
.order-infor form h5{
	font-size:3.4vw;color:#949494;position: relative;margin-left:1vw;
}
.order-infor form h5>div{
	position: absolute;width:1.4vw;left:0;margin-left:-1.6vw;top:0.6vh;
}
.order-infor form input{
	border:none;outline: none;height:4vh;
	margin-left:1vw;font-size:3vw;
	color:#333333;
}
.order-infor>h6{
	font-size:3vw;color:#999999;text-align: center;margin-top:2vh;
}
.order-btn{
	width:47%;margin-left:auto;margin-right:auto;margin-top:3vh;
}
.tips{
	margin-top:1vh;width:75%;margin-left:auto;margin-right:auto;
}
