@charset "utf-8";
/* CSS Document */
*{margin: 0;padding: 0;font-family: "微软雅黑";}
body{background: #f2f2f2;}
img,input{display: block;}
input{border: none; font-size: 14px;background: none;}
h1{font-size: 24px;font-weight: normal;}
h2{font-size: 20px;}
h3{font-size: 16px;}
p{font-size: 13px;margin-bottom: 8px;}

.btn{background:linear-gradient(to right,#ff9924,#ff6025);color: white;font-weight: bold;padding: 3%;text-align: center;border-radius: 4px;}

.clearfix{clear:both;}
.left{float: left;}
.right{float: right;}
.column2{float: left;width: calc(100% / 2);}
.column3{float: left;width: calc(100% / 3);}
.column4{float: left;width: calc(100% / 4);}
.column5{float: left;width: calc(100% / 5);}


footer{background: #f2f2f2; position: fixed;bottom: 0;width:100%;max-width: 1200px;}
footer .btn{margin: 5px 15px;}

@media(max-width:320px){
	p{margin-bottom: 6px;}

	.card{padding: 8px 0; margin: 0 10px;}
	.card p{line-height: 18px;}
	.line{margin:4px;}
}
@media(min-width:376px){
	.card p{-webkit-line-clamp: 3;}
	.menu h4{top:calc(50% - 7px);}
}
